@font-face{
	font-family: bahnschrift;
    src: url("fonts/BAHNSCHRIFT.eot");
    src: url("fonts/BAHNSCHRIFT.TTF") format('truetype');
    font-stretch: condensed;
}


.contactform{
    height: 80vh;
    border: 1px solid black;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    background-color: #000cbc;
    color: white;
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 0px 0px 30px grey;
}
h2{
    text-align: center;
    margin: 10px;
}
p{
    margin: 0;
}
input{
    margin: 10px 0;
    width: 100%;
    font-family: bahnschrift;
    font-size: 36px;
}
textarea{
    margin: 10px 0;
    font-family: bahnschrift;
    font-size: 36px;
    width: 100%;   
    height: 25vh; 
}

input[type="submit"]{
    border-radius: 10px;
    font-family: bahnschrift;
    color: white;
    font-size: 40px;
    background-color: #000cbc;
    border: 1px solid white;
    height: 70px;
    width: 100%;
    transition: all .2s;
    box-shadow: 2px 2px 10px grey;
}
input[type="submit"]:hover{
    background-color: #8cfffb;
    color: black;
}


.thanks{
    width: 50%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
}
.thanks span{
    margin: auto;
    height: 150px;
    width: 150px;
    display: grid;
    place-content: center;
    font-size: 100px;
    color: #000cbc;
    border: 2px solid #000cbc;
    border-radius: 200px;
}

button{
    border-radius: 10px;
    font-family: bahnschrift;
    color: white;
    font-size: 40px;
    background-color: #000cbc;
    border: 1px solid #000cbc;
    height: 70px;
    width: 100%;
    margin: 50px 0;
    transition: all .2s;
    box-shadow: 2px 2px 10px grey;
}
button:hover{
    background-color: #8cfffb;
    color: black;
}

/*#region LAPTOP*/
@media screen and (max-width: 1366px){
    .contactform{width: 800px;height: auto; margin-top: 80px;}
    h2{font-size: 28px;}
    p{font-size: 24px;}
    button{font-size: 30px;height: 60px}
    input{font-size: 24px;}
    textarea{font-size: 24px;}
    input[type="submit"]{font-size: 28px;height: 55px}
    .thanks{
        width: 85%;
        margin-top: 80px;
    }
}
/*#endregion LAPTOP*/


/*#region MOBILE VERT*/
@media screen and (max-width: 992px){
    .contactform{
        box-shadow: 1px 1px 6px #000cbc;
        margin-top: 80px;
        height: auto;
        width: 95%;
        padding: 10px 10px;
    }
    h2{font-size: 28px;}
    p{font-size: 24px;}
    button{font-size: 30px;height: 60px}
    input{font-size: 24px;}
    textarea{font-size: 24px;}
    input[type="submit"]{font-size: 28px;height: 55px}
    .thanks{
        width: 85%;
        margin-top: 80px;
    }
}
/*#endregion*/